<!DOCTYPE html>
<html>
<head>
  <title>ABATEC - Consultoría &amp; Gestión</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="RABO IT">
  <link href="css/main.css" rel="stylesheet">

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap Core CSS -->
  
</head>
<body>
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
        $('#main_modal').on('hidden.bs.modal', function () {
            $("[rel='tooltip']").tooltip('hide');
        })
    });
</script>
<!--
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
-->








<!-- Scrollspy set in the body -->
    <body id="home" data-spy="scroll" data-target=".main-nav" data-offset="73">

    <!--///////////////////////////////////////// PARALLAX BACKGROUND ////////////////////////////////////////-->

    <!-- image is set in the CSS as a background image -->
    <div id="parallax"></div>

    <!--///////////////////////////////////////// end PARALLAX BACKGROUND ////////////////////////////////////////-->


    
    <!--/////////////////////////////////////// NAVIGATION BAR ////////////////////////////////////////-->

    <section id="header">

        <nav class="navbar navbar-fixed-top" role="navigation">

            <div class="navbar-inner">
                <div class="container">

                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#navigation"></button>

                    <!-- Logo goes here - replace the image with your -->
                    <a href="index.html" class="navbar-brand"><span class="fui-user"></span> ABATEC</a>


                    <div class="collapse navbar-collapse main-nav" id="navigation">


                        <ul class="nav pull-right">

                            <!-- Menu items go here -->
                            <li class="active hidden"><a href="#home">Inicio</a></li>
                            <li><a href="#features">Valores</a></li>
                            <li><a href="#gallery">Empresa</a></li>
                            <li><a href="#info">Nosotros</a></li>
                            <li><a href="#testimonials">Vision &amp; Mision</a></li>
                            <li><a href="#faq">Contacto</a></li>
        
                            <!-- If you want sub-menu items, do them like this
                            <li>
                                <ul>
                                  <li><a href="#">Item 1</a></li>
                                  <li><a href="#">Item 2</a></li>
                                </ul>
                            </li> 
                            You just need to delete these comment lines -->
                        </ul>

                    </div><!-- /nav-collapse -->
                </div><!-- /container -->
            </div><!-- /navbar-inner -->
        </nav>

    </section>

    <!--//////////////////////////////////////// end NAVIGATION BAR ////////////////////////////////////////-->

    

    <!--/////////////////////////////////////// HERO SECTION ////////////////////////////////////////-->

    <section id="hero">

        <div class="container">
            <div class="row">

                <div class="col-md-7 intro">
                    <h1>ABATEC INGENIERÍA</h1>
                    <p class="lead">¡Cuando la tecnología lidera el cambio!</p>
                    <a href="#info" class="btn btn-hg btn-info">Nosotros</a>
                    <a href="#gallery" class="btn btn-hg btn-inverse inline">Portfolio</a>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->

    </section>

    <!--///////////////////////////////////////////////// end HERO SECTION ////////////////////////////////////////-->



    <!--/////////////////////////////////////// FEATURES SECTION ////////////////////////////////////////-->

    <section id="features">

        <div class="container">

            <header>
                <h1>Nuestros Valores</h1>
                <p class="lead">¡En Abatec, la satisfacción del cliente es primordial!</p>
            </header>

            <div class="row">
                
                <!-- Feature Item 1 -->
                <div class="col-md-4 text-center">
                    <div class="feature-icon">
                        <img src="images/icons/key.svg" alt="" />
                    </div>
                    <h4>Calidad & Satisfacción</h4>
                  <p style="text-align: justify">En Abatec, la satisfacción del cliente está gestionada por metodologías ágiles. El cliente puede empezar a utilizar los resultados más importantes del proyecto antes de que esté finalizado por completo.</p>
                </div>

                <!-- Feature Item 2 -->
                <div class="col-md-4 text-center">
                    <div class="feature-icon">
                        <img src="images/icons/magic.svg" alt="" />
                    </div>
                    <h4>Flexibilidad & Cambio</h4>
                  <p style="text-align: justify">De manera regular el cliente redirige el proyecto en función de sus nuevas prioridades, de los cambios en el mercado, de los requisitos completados que le permiten entender mejor el producto, de la velocidad real de desarrollo, etc.</p>
                </div>

                <!-- Feature Item 3 -->
                <div class="col-md-4 text-center">
                    <div class="feature-icon">
                        <img src="images/icons/rocket.svg" alt="" />
                    </div>
                    <h4>Comunicación & Objetivos</h4>
                    <p style="text-align: justify">Los miembros del equipo sincronizan su trabajo diariamente y se ayudan a resolver los problemas que pueden impedir conseguir el objetivo del proyecto, de manera que no se realizan tareas innecesarias y se evitan ineficiencias.</p>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->

    </section>

    <!--/////////////////////////////////////// end FEATURES SECTION ////////////////////////////////////////-->


    <!--//////////////////////////////////////// NEWSLETTER SECTION ////////////////////////////////////////-->

    <section id="newsletter">

        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <p class="lead">¡Mantente en contacto con nosotros! <br> Estamos atentos a tus preocupaciones.</p>
                </div>
                
                <div class="col-md-6">

                    <!--////////// Newsletter Form //////////-->
                    <form id="newsletter-signup">
                        <div class="input-group">
                          <input type="text" name="e-mail" id="e-mail" class="form-control input-hg" placeholder="Escribe tu Email">
                          <span class="input-group-btn">
                            <button class="btn btn-inverse btn-hg" type="submit" name="submit">
                              <span class="fui-mail"></span></button>
                          </span>
                        </div><!-- /input-group -->
                    </form>
                    <!--////////// end of Newsletter Form ///////////-->

                     <div id="error-info"></div><!-- Error notification for newsletter signup form -->

                </div>

            </div><!-- /row -->
        </div><!-- /container -->

    </section>
    
    <!--//////////////////////////////////////// end NEWSLETTER SECTION ////////////////////////////////////////-->



    <!--/////////////////////////////////////// GALLERY SECTION ////////////////////////////////////////-->

    <section id="gallery">

        <div class="container">

             <header>
                <h1>Servicios</h1>
            </header>
        <div class="row-fluid">

          <div class="col-md-12">
            <div class="col-md-12">
              <p class="lead text-center">Desarrollo de Sistemas Informáticos</p>

              <p style="text-align: justify">Los sistemas de información actualmente están siendo aceptados y adoptados por muchas empresas debido a las ventajas competitivas que proporcionan y a la optimización de los procesos en los cuales intervienen. Un sistema de información es un conjunto de elementos que interactúan entre si con el fin de apoyar las actividades de una empresa o negocio.</p>
          </div>

          <div class="col-md-12">
              <p class="lead text-center">Implementación de sistema de gestión de contenido

              <p style="text-align: justify">Permiten que cualquier persona que haya usado alguna vez un ordenador pueda actualizar fácilmente el contenido de la página web: añadiendo, modificando o eliminando texto, imágenes, vídeos, etc. Esta actualización puede ser realizada desde cualquier lugar, únicamente es necesario disponer una conexión a internet y de un dispositivo que incorpore un navegador web, como puede ser: un ordenador personal, un ordenador portátil, un smartphone, un tablet, etc.</p>

          </div>
          <div class="col-md-12">
              <p class="lead text-center">Diseño Web

              <p style="text-align: justify">En el mundo digital de hoy es indispensable sacar provecho al mercado en línea. Tener un sitio web es algo más que una tarjeta de presentación. Los sitios web son una parte fundamental en una empresa. Por este motivo, es de suma importancia que el diseño web tenga un aspecto profesional.</p>
          </div>
          <div class="col-md-12">
              <p class="lead text-center">Implementación de sistema de gestión de contenido

              <p style="text-align: justify">Permiten que cualquier persona que haya usado alguna vez un ordenador pueda actualizar fácilmente el contenido de la página web: añadiendo, modificando o eliminando texto, imágenes, vídeos, etc. Esta actualización puede ser realizada desde cualquier lugar, únicamente es necesario disponer una conexión a internet y de un dispositivo que incorpore un navegador web, como puede ser: un ordenador personal, un ordenador portátil, un smartphone, un tablet, etc.</p>
          </div>




        </div>

        </div><!-- /container -->

    </section>

    <!--/////////////////////////////////////// end GALLERY SECTION ////////////////////////////////////////-->



    <!--/////////////////////////////////////// INFO SECTION ////////////////////////////////////////-->

    <section id="info">

        <!--/////////// Info section alternates with white and gray backgrounds. Let's start with a white! //////////-->
        <div class="info-section-white">

            <div class="container">


             <header>
                <h1>Francisco Abalan Osorio</h1>
            </header>

                <div class="row">

                    <div class="col-md-2 pull-right gallery-popup">
                        <a href="images/img.png"><img src="images/img.png" alt="placeholder image" class="img-responsive"></a>
                    </div> 

                    <div class="col-md-10 pull-left">
                        <h2></h2>

                        <p class="lead">Ingeniero de Ejecución en Computación e Informatica. Egresado de Magíster en Desarrollo de Software.</p>

                        <p>AbaTec, acrónimo de Abalan Tecnologías, es una consultura enfocada a solucionar problemas  o mejorar precesos utilizando herramientas tecnológicas. Entre estas herramientas destacamos el desarrollo o implementación de sistemas de gestión, en pos de mejorar el almacenamiento y posterior consulta de la información del negocio. Diseño de páginas Web, buscando acercar y dar a conocer sus productos o servicios tanto a sus clientes como potenciales. Ya en un aspecto más técnico, AbaTec cuenta con un área de soporte computacional, prestando servicios para mejorar el rendimiento de su computador, asesoramiento en la compra o cambio de partes o piezas y realizando mantenciones tanto preventivas como recuperativas.</p>


                    </div> 

                </div><!-- /row -->
            </div><!-- /container -->

        </div><!-- /info-section-white -->
        
        <!--/////////// And here's the gray background section! //////////-->
        <div class="info-section-gray" id="slideshow">
            
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <h3>Misión</h3>
                          <p>Ser reconocida como una sociedad líder del sector Tecnológico en Chile, por su alta calidad de servicios, capacidad de innovación y profundo conocimiento de sus clientes. ABATEC debe ser un referente en el campo de la innovación nacional destacando por sus altos estándares de clase mundial.
                          </p>
                        </div>
                        <div class="col-md-12">
                          <h3>Visión</h3>
                          <p>Llegar a ser una sociedad de clase mundial, lider en el sector tecnológico por satisfacer las necesidades de sus clientes, con servicios de alta preferencia y propuestas de valor innovadoras, sustentada en un equipo humano de excelencia y conductas éticas íntegras.

                        </div>
                      </div>
                    </div> 
                                   
                </div><!-- /row -->
            </div><!-- /container -->

        </div><!-- /info-section-gray -->

        <div class="info-section-white">

            <div class="container">
                <div class="row"> 

                    <div class="col-md-6 pull-right gallery-popup fitvids">
                        <iframe src="http://player.vimeo.com/video/4240369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowFullScreen></iframe>
                    </div>

                    <div class="col-md-6 pull-left">
                        <h3>Video Example</h3>
                        <p class="lead">You can also show videos in this section!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?</p>
                    </div> 

                </div><!-- /row -->
            </div><!-- /container -->

        </div><!-- /info-section-white -->
        
    </section>

    <!--/////////////////////////////////////// end INFO SECTION ////////////////////////////////////////-->



    <!--/////////////////////////////////////// TESTIMONIALS SECTION ////////////////////////////////////////-->

    <section id="testimonials">

        <div class="container">
            <div class="row">

                <!--////////// Another Carousel Slider //////////-->
                <div id="testimonials-slider" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials-slider" data-slide-to="1"></li>
                    </ol>
                    
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                    
                        <!-- Testimonial 1 -->
                        <div class="active item">

                            <div class="col-md-2 col-md-offset-1">

                                <div class="quote-icon">
                                    <img src="images/icons/dude.svg" alt="" />
                                </div>
                            </div>

                            <div class="col-md-8">
                                <p class="lead">Well... honestly it doesn't get much better than this! These guys know what they're doing!</p>
                                <cite>John Doe, <a href="#">Freelance Journalist</a></cite>
                            </div>

                        </div>

                        <!-- Testimonial 2 -->
                        <div class="item">

                            <div class="col-md-2 col-md-offset-1">

                                <div class="quote-icon">
                                    <img src="images/icons/girl.svg" alt="" />
                                </div>
                            </div>

                            <div class="col-md-8">
                                <p class="lead">If i had to do it again, i'd definitely go with the same team - that was an amazing experience.</p>
                                <cite>Sarah Jackson, <a href="#">Startup Owner</a></cite>
                            </div>

                        </div>

                    </div>
                    
                    <!-- Carousel navigation arrows -->
                    <a class="carousel-control left" href="#testimonials-slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="carousel-control right" href="#testimonials-slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <!--////////// end of Carousel Slider //////////-->

            </div><!-- /row -->
        </div><!-- /container -->

    </section>

    <!--/////////////////////////////////////// end TESTIMONIALS SECTION ////////////////////////////////////////-->



    <!--/////////////////////////////////////// FAQ SECTION ////////////////////////////////////////-->

    <section id="faq">

        <div class="container">

            <header>
                <h1>Contacto</h1>
                <p class="lead">You have a question? Someone else might have had the exact same one. Let's find out!</p>
            </header>

            <div class="row">

                <div class="col-md-6">

                    <!--////////// Accordion Toggle //////////-->
                    <div class="panel-group" id="accordion">
                     
                        <!-- PANEL 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Is this template compatible with Bootstrap 3?
                                    </a>
                                </h4>
                            </div>
                            
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Absolutely! As shown with a few examples within this demo, you can use all the bootstrap goodies such as carousels, modal windows, tooltips, tabs, accordions, form elements...</p>
                                </div>
                            </div>
                        </div>
                    
                        <!-- PANEL 2 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Are there more icons available?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Hell yeah! This template is built on the awesome <a href="http://designmodo.com/flat/" target="_blank">Flat UI Pro kit by Designmodo</a>.<br>All the icons & goodies you can see on the kit presentation can be used in Booom!</p>
                                </div>
                            </div>
                        </div>

                        <!-- PANEL 3 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Can you resize the illustrations?
                                    </a>
                                </h4>
                            </div>
                            
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Those gorgeous illustrations are available in SVG format (vector), which means they're completely scaleable without any quality loss.</p>
                                </div>
                            </div>
                        </div>

                        <!-- PANEL 4 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Does the template hack into Bootsrap core files?
                                    </a>
                                </h4>
                            </div>
                            
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Nooooo. Yeww, no way! The Bootsrap files are totally untouched - all the customizations are done on extra css (or LESS) files, so you can upgrade bootstrap versions wihout any modification losses.</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!--////////// end of Accordion Toggle //////////-->              

                    <div class="alert">
                        
                        <p class="lead">Our Contact Details</p>
                        <div class="row">
                          
                          <div class="col-md-4 col-xs-6 text-left">
                            <strong>Address</strong>
                          </div>
                          
                          <div class="col-md-8 col-xs-6">
                            <address>
                              144 Pitt Street, Byron Bay, Australia<br>
                            </address>
                          </div>

                        </div><!-- /row -->

                        <div class="row">
                          
                          <div class="col-md-4 col-xs-6 text-left">
                            <strong>Phone Number</strong>
                          </div>
                          
                          <div class="col-md-8 col-xs-6">
                            <address>
                              +61 (0) 243 888 888<br>
                            </address>
                          </div>

                        </div><!-- /row -->

                        <div class="row">
                          
                          <div class="col-md-4 col-xs-6 text-left">
                            <strong>Mobile Number</strong>
                          </div>
                          
                          <div class="col-md-8 col-xs-6">
                            <address>
                              +61 (0) 424 999 999<br>
                            </address>
                          </div>

                        </div><!-- /row -->

                    </div><!-- /alert -->

                </div><!-- /col-md-6 -->

                <div class="col-md-6">

                    <div class="row contact-intro">
                        <div class="col-md-3 text-right"><img src="images/icons/support.svg" alt="" /></div>
                        <div class="col-md-9"><p class="lead">Didn't find what you were looking for? Shoot us a line!</p></div>                        
                    </div>

                    <!--////////// CONTACT FORM //////////-->
                    <form id="contact-form">
                        <input type="text" id="name" name="name" class="form-control input-hg" placeholder="Your name..." />
                        <input type="text" id="email" name="email" class="form-control input-hg" placeholder="Your e-mail address..." />
                        <textarea class="form-control input-hg" rows="4" id="message" name="message" placeholder="Your message..."></textarea>
                        <button type="submit" class="btn btn-inverse btn-hg btn-block" name="submit">Send</button>
                    </form>

                     <div id="contact-error"></div>
                    <!--////////// end CONTACT FORM ///////////-->

                </div><!-- /col-md-6-->
                
            </div>
        </div>

    </section>

    <!--/////////////////////////////////////// end FAQ SECTION ////////////////////////////////////////-->



    <!--//////////////////////////////////////// TWITTER SECTION ////////////////////////////////////////-->

    <section id="twitter">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <img src="images/icons/chat.svg" alt="" />
                    <p class="lead"><span id="tweets-feed" class="lead"></span></p>
                </div>
            </div>
        </div>
    </section>

    <!--//////////////////////////////////////// TWITTER SECTION ////////////////////////////////////////-->



    <!--//////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////-->
    <section id="footer">
        <div class="bottom-menu-inverse">

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2013 Booom! Designed by <a href="http://www.simonswiss.com/" target="_blank">simonswiss</a>.</p>
                    </div>

                    <div class="col-md-6 social">
                        <ul class="bottom-icons">
                            <li>
                              <a href="#" class="fui-facebook"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-twitter"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-pinterest"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-googleplus"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-dribbble"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-vimeo"></a>
                            </li>
                          </ul>                      
                    </div>
                </div>
            
            </div><!-- /row -->
        </div><!-- /container -->

    </section>

    <!--//////////////////////////////////////// end FOOTER SECTION ////////////////////////////////////////-->
<!-- Modal -->
<div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><i class="fa fa-users"></i> Bienvenido a Grow Seed</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <h5 class="text-center"><i>Ingresa tu correo para enviar la invitación</i></h5>
          <div class="col-md-10 col-sm-offset-1">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="tu@correo.com">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Enviar</button>
      </div>
    </div>
  </div>
</div>


    <!--//////////////////////////////////////// JAVASCRIPT LOAD ////////////////////////////////////////-->

    <!-- Feel free to remove the scripts you are not going to use -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.fitvids.min.js"></script>
    <script src="assets/twitter/jquery.tweet.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/custom.js"></script>

    <!--//////////////////////////////////////// end JAVASCRIPT LOAD ////////////////////////////////////////-->

  </body>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40741810-8', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
